.header
	margin-top: 23px
	margin-bottom: 14px
	font-family: 'Proxima Nova Bold', sans-serif
	&-nav
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		padding:			
			right: 10px
		background: #414141
		border-radius: 5px
	&-list		
		display: flex
		justify-content: space-between
		align-items: center	
		width: 60%		
		&__drop
			position: absolute
			left: 0
			right: 0						
			display: none
			padding-top: 6px
			font-family: 'Proxima Nova Reg', sans-serif
			text-align: center			
			background: #3a3838				
			.header-item__link
				padding:					
					bottom: 7px
				font-size: 13px
				text-transform: none					
	&-line
		width: 1px
		height: 24px
		padding: 0
		background: #5c5c5c		
	&-item				
		width: 25%						
		padding:
			top: 13px
			bottom: 13px
		text-align: center
		&__drop
			.header-item__link
				width: 90%
				padding:
					left: 0
					right: 0
				&:after
					display: none
				&:before
					display: none
				&:first-child
					border-bottom: 1px solid #5c5c5c	
			&:hover
				.header-item__link
					&:after
						display: none																															
		&__link
			position: relative
			display: inline-block
			width: 100%
			padding:
				left: 10px
				right: 10px
			font-size: 12px
			letter-spacing: 0.5px
			color: #fff
			text-transform: uppercase
			text-decoration: none
			&:after
				content: ''
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 0
				width: 1px
				height: 24px
				background: #5c5c5c
			&:before
				content: ''
				position: absolute
				display: none
				top: 50%
				transform: translateY(-50%)
				left: -1px
				width: 1px
				height: 24px
				background: #414141			
		&:last-child .header-item__link
			&:after
				display: none			
		&:first-child			
			&:hover .header-item__link:before
				display: none		
		&:hover			
			background: #3a3838			
			&:first-child
				border-radius: 5px 0 0 5px
			& .header-item__link:after
				display: none
			& .header-item__link:before
				display: block	
			& .header-item__drop
				.header-item__link
					&:before
						display: none			
		&:nth-child(2)
			position: relative
			transition: all 2s
			&:hover .header-list__drop
				display: block
	&-search
		width: 20%
		&__input	
			width: 100%	
			height: 26px
			padding:
				left: 10px
				top: 7px
				bottom: 7px
			font-family: 'Proxima Nova Reg', sans-serif
			font-size: 12px
			background: #fff url(../img/header/search.png) right no-repeat
			border: none
			border-radius: 5px
			outline: none



			

			

			


