.main
	position: relative
	margin-bottom: 40px	
	padding-top: 15px
	background: #fff
	border-radius: 10px
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12)
	&-container
		width: 90%
		margin: 0 auto
	&-photo
		display: flex
		justify-content: space-between		
		margin-bottom: 19px
		&__item
			position: relative			
			&:after
				content: ''
				position: absolute
				top: 0
				bottom: 0
				left: 0
				width: 100%
				height: 100%
				background: #29b77b
				opacity: 0.15
				border-radius: 10px
				z-index: 2	
			&:hover.main-photo__item:after
				display: none	
	&:after
		position: absolute
		content: ''
		width: 100%
		height: 1px
		margin-top: 20px
		margin-bottom: 20px
		background: url(../img/line.png) 		
	&-img	
		width: 100%
		height: 100%	
		border-radius: 10px
	&-title
		margin-bottom: 20px
		font-family: 'Proxima Nova Bold', sans-serif
		font-size: 30px
		text-align: center
		color: #29b77b
	&-data
		margin-bottom: 19px
		&__line
			display: flex
			justify-content: space-between
			width: 100%		
			margin: 0 auto			
			padding:
				top: 13px
				bottom: 13px
				left: 12px				
			&:nth-child(odd)
				background: #f5f5f5
		&__text
			width: 60%						
			text-align: left
			color: #727272
		&__wrap
			display: flex
			justify-content: space-between			
			width: 70%	
			font-size: 17px		
	&_bold		
		font-family: 'Proxima Nova Bold', sans-serif
		&_date
			font-size: 20px
	&-description
		padding-bottom: 15px
		font-size: 18px
		color: #171717
		&__link
			position: relative
			color: #29b77b			
			text-decoration: none
			&:after
				content: ''
				position: absolute
				bottom: 1px
				right: 0
				width: 100%
				height: 1px
				background: #d7eee3
		&__text
			margin-bottom: 5px


	
		
