@media(max-width: 992px)
	.header
		&-list
			width: 65%
		&-item
			width: 25%
			text-align: center	
		&-search
			width: 25%
@media(max-width: 768px)
	.header
		&-list
			width: auto
		&-item
			width: auto
		&-search
			width: 157px
@media(max-width: 598px)
	.header
		&-link
			width: 90%	
		&-search
				width: 25%				
@media(max-width: 576px)
	.header
		&-list
			display: none			
		&-nav
			justify-content: flex-end
			padding:
				top: 20px
				bottom: 20px	
		&-item__link
			position: static	
		&-search
			width: 50%							
	.menu
		&-link		
			display: block

	

