@media(max-width: 1200px)
	.main
		&-photo
			justify-content: space-between
			&__item
				width: 30%
				&_add
					display: none
		&-img__add
			display: none
		&-data__line
			width: 100%
@media(max-width: 992px)
	.container
		width: 92%
	.header
		&-list
			width: 65%
		&-item
			width: 25%
			text-align: center	
		&-search
			width: 25%
@media(max-width: 768px)
	.header
		&-list
			width: auto
		&-item
			width: auto
		&-search
			width: 157px
	.main
		&-photo
			margin-bottom: 13px
			&__item
				width: 32%
				max-height: 103px	
		&-img
			height: 100%
		&-title
			margin-bottom: 16px
		&-data
			margin-bottom: 0
			&__line
				padding:
					top: 10px
					bottom: 11px
			&__wrap
				width: 50%
		&-description
			width: 90%
			font-size: 14px
@media(max-width: 597px)
	.header
		&-link
			width: 90%	
		&-search
				width: 25%				
@media(max-width: 576px)
	.header
		&-list
			display: none			
		&-nav
			justify-content: flex-end
			padding:
				top: 20px
				bottom: 20px	
		&-item__link
			position: static	
		&-search
			width: 50%							
	.menu
		&-link		
			display: block
	.main
		&-photo__item								
			&:hover.main-photo__item:after
					display: block			
		&-title
			font-size: 22px
		&-data__wrap
			width: 100%
		&-description
			width: 100%
@media(max-width: 450px)
	.main
		&-photo__item
			display: none
			&:nth-child(2),
			&:nth-child(4)
				display: block
				width: 48%




	

