@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova Reg', sans-serif;
  color: #171717;
  background: #f5f5f5;
}

.container {
  width: 82%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

span {
  padding: 0;
}

h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.header {
  margin-top: 23px;
  margin-bottom: 14px;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px;
  background: #414141;
  border-radius: 5px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
}

.header-list__drop {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  padding-top: 6px;
  font-family: 'Proxima Nova Reg', sans-serif;
  text-align: center;
  background: #3a3838;
  z-index: 5;
}

.header-list__drop .header-item__link {
  padding-bottom: 7px;
  font-size: 16px;
  text-transform: none;
}

.header-line {
  width: 1px;
  height: 24px;
  padding: 0;
  background: #5c5c5c;
}

.header-item {
  width: 25%;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}

.header-item__drop .header-item__link {
  width: 90%;
  padding-left: 0;
  padding-right: 0;
}

.header-item__drop .header-item__link:after {
  display: none;
}

.header-item__drop .header-item__link:before {
  display: none;
}

.header-item__drop .header-item__link:last-child {
  padding-top: 5px;
}

.header-item__drop:first-child {
  border-bottom: 1px solid #5c5c5c;
}

.header-item__drop:hover .header-item__link:after {
  display: none;
}

.header-item__link {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  /* FOR IE - не видит псевдоклассы у 3-го и 4-го элементов, поэтому пришлось задать дополнительно*/
}

.header-item__link:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 24px;
  background: #5c5c5c;
}

.header-item__link:before {
  content: '';
  position: absolute;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -1px;
  width: 1px;
  height: 24px;
  background: #414141;
}

.header-item__link_company:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.2px;
  width: 1px;
  height: 24px;
  background: #5c5c5c;
}

.header-item__link_price:before {
  content: '';
  position: absolute;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -1.2px;
  width: 1px;
  height: 24px;
  background: #414141;
}

.header-item:last-child .header-item__link:after {
  display: none;
}

.header-item:first-child:hover .header-item__link:before {
  display: none;
}

.header-item:hover {
  background: #3a3838;
}

.header-item:hover:first-child {
  border-radius: 5px 0 0 5px;
}

.header-item:hover .header-item__link:after {
  display: none;
}

.header-item:hover .header-item__link:before {
  display: block;
}

.header-item:hover .header-item__drop .header-item__link:before {
  display: none;
}

.header-item:nth-child(2) {
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.header-item:nth-child(2):hover .header-list__drop {
  display: block;
}

.header-search {
  width: 20%;
}

.header-search__input {
  width: 100%;
  height: 26px;
  padding-left: 10px;
  font-family: 'Proxima Nova Reg', sans-serif;
  font-size: 14px;
  background: #fff url("../img/header/search.png") right no-repeat;
  border: none;
  border-radius: 5px;
  outline: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: #414141;
  z-index: 999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu_active {
  left: 0;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100vw;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.menu-list li {
  width: 100vw;
  height: 50px;
}

.menu-list a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  line-height: 4;
  font-weight: 100;
  letter-spacing: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-link {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1000;
  background-color: #fff;
}

.menu-link span {
  position: absolute;
  top: 49%;
  left: 50%;
  margin-top: -1px;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
}

.menu-link span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-link span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 5px;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-link_active span {
  background-color: transparent;
}

.menu-link_active span:before {
  margin-top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menu-link_active span:after {
  margin-top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu .header-item__company {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
}

.menu .header-item__company:hover {
  margin-bottom: 110px;
}

.menu .header-item__company:hover .header-list__drop {
  display: block;
}

.main {
  position: relative;
  margin-bottom: 40px;
  padding-top: 15px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.main-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 19px;
}

.main-photo__item {
  position: relative;
}

.main-photo__item:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #29b77b;
  opacity: 0.15;
  border-radius: 10px;
  z-index: 2;
}

.main-photo__item:hover.main-photo__item:after {
  display: none;
}

.main:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url("../img/line.png");
}

.main-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main-title {
  margin-bottom: 20px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #29b77b;
}

.main-data {
  margin-bottom: 19px;
}

.main-data__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 12px;
}

.main-data__line:nth-child(odd) {
  background: #f5f5f5;
}

.main-data__text {
  width: 60%;
  text-align: left;
  color: #727272;
}

.main-data__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70%;
  font-size: 17px;
}

.main_bold {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.main_bold_date {
  font-size: 20px;
}

.main-description {
  padding-bottom: 15px;
  font-size: 18px;
  color: #171717;
}

.main-description__link {
  position: relative;
  color: #29b77b;
  text-decoration: none;
}

.main-description__link:after {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 100%;
  height: 1px;
  background: #d7eee3;
}

.main-description__text {
  margin-bottom: 5px;
}

.contacts {
  margin-bottom: 40px;
  padding-top: 18px;
  padding-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  background: #fff;
  color: #171717;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.contacts-container {
  width: 90%;
  margin: 0 auto;
}

.contacts-img {
  width: 100%;
}

.contacts-img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
}

.contacts-img__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 49%;
  margin-bottom: 20px;
}

.contacts-text_bold {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.contacts-tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.contacts-tab {
  position: relative;
  width: 24%;
  padding-top: 11px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px;
  background: #29b77b;
  color: #fff;
  border-radius: 5px 5px 0 0;
  border: 2px solid #29b77b;
  border-bottom: none;
  cursor: pointer;
}

.contacts-tab:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 10%;
  height: 2px;
  background: #29b77b;
}

.contacts-tab:last-child:after {
  display: none;
}

.contacts-tab__item:nth-child(2),
.contacts-tab__item:nth-child(3),
.contacts-tab__item:last-child {
  display: none;
}

.contacts-tab__text_bold {
  margin-bottom: 9px;
  font-family: 'Proxima Nova Bold';
  font-size: 22px;
}

.contacts-tab__text_green {
  margin-bottom: 5px;
  font-size: 20px;
  color: #29b77b;
}

.contacts-tab__content {
  min-height: 120px;
  padding-left: 12px;
  line-height: 21px;
}

.contacts .active {
  position: relative;
  font-family: 'Proxima Nova Bold', sans-serif;
  background: #fff;
  color: #29b77b;
  border-bottom: none;
  z-index: 9999;
}

@media (max-width: 1300px) {
  .main-photo__item:first-child {
    display: none;
  }
}

@media (max-width: 1200px) {
  .main-photo {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .main-photo__item:last-child {
    display: none;
  }

  .main-img__add {
    display: none;
  }

  .main-data__line {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 92%;
  }

  .header-item {
    width: 25%;
    text-align: center;
  }

  .header-search {
    width: 25%;
  }
}

@media (max-width: 850px) {
  .contacts-img__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contacts-img__item {
    width: 100%;
  }

  .contacts-img__item:nth-child(2n) {
    display: none;
  }
}

@media (max-width: 840px) {
  .main-photo__item:nth-child(6) {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-list {
    width: 75%;
  }

  .header-list__drop .header-item__link {
    font-size: 13px;
  }

  .header-item {
    width: 27%;
  }

  .header-item__link {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
  }

  .header-item:first-child,
  .header-item:last-child {
    width: 23%;
    padding-left: 0;
    padding-right: 0;
  }

  .header-search {
    width: 32%;
  }

  .header-search__input {
    font-size: 12px;
  }

  .main-photo {
    margin-bottom: 11px;
  }

  .main-photo__item {
    width: 32%;
  }

  .main-photo__item:nth-child(3),
  .main-photo__item:nth-child(5) {
    display: none;
  }

  .main-photo__item:nth-child(6) {
    display: block;
  }

  .main-img {
    height: 100%;
  }

  .main-title {
    margin-bottom: 16px;
    font-size: 23px;
  }

  .main-data {
    margin-bottom: 0;
  }

  .main-data__text {
    font-size: 13px;
  }

  .main-data__line {
    padding-top: 10px;
    padding-bottom: 11px;
  }

  .main-data__wrap {
    width: 51%;
  }

  .main_bold {
    font-size: 13px;
  }

  .main_bold_date {
    font-size: 16px;
  }

  .main-description {
    width: 90%;
    font-size: 14px;
  }

  .contacts {
    font-size: 14px;
    line-height: 22px;
  }

  .contacts-tab {
    font-size: 14px;
  }

  .contacts-tab__text_bold {
    font-size: 18px;
  }

  .contacts-tab__text_green {
    font-size: 16px;
  }

  .contacts-tab__content {
    min-height: 140px;
  }
}

@media (max-width: 597px) {
  .header-search {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .header-list {
    display: none;
  }

  .header-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-item__link {
    position: static;
  }

  .header-search {
    width: 50%;
  }

  .menu-link {
    display: block;
  }

  .menu-title {
    font-size: 22px;
  }

  .menu-data__wrap {
    width: 100%;
  }

  .menu-description {
    width: 100%;
  }

  .main-photo__item {
    width: auto;
  }

  .main-photo__item:nth-child(4) {
    display: none;
  }

  .main-photo__item:nth-child(3) {
    display: block;
  }

  .main-title {
    font-size: 22px;
  }

  .main-data__wrap {
    width: 100%;
  }

  .contacts-tab__content {
    min-height: 203px;
  }
}

@media (max-width: 530px) {
  .main-photo__item:nth-child(3),
  .main-photo__item:nth-child(2) {
    display: none;
  }

  .main-photo__item:first-child,
  .main-photo__item:last-child {
    display: block;
  }
}

@media (max-width: 450px) {
  .main-photo__item:nth-child(6) {
    display: none;
  }

  .main-photo__item:nth-child(3) {
    display: block;
  }
}

@media (max-width: 380px) {
  .main-photo__item {
    width: 49%;
  }

  .main-photo__item:nth-child(odd) {
    display: none;
  }

  .main-photo__item:nth-child(2),
  .main-photo__item:nth-child(4) {
    display: block;
  }
}